<h1><%= "#{@student.branch}'s #{@student.first_name} #{@student.last_name}" %></h1>
<div class="showarea">
    <h4>Email: <%= "#{@student.email}" %></h4>
</div>
<div class="successarea">
    <% if flash[:success] %>
        <div class="success">
            <% flash[:success].each do |msg| %>
                <p><%= msg %></p>
            <% end %>      
        </div>
    <% end %>
</div>	
<h3>Cohort</h3>

<table id="cohort">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</thead>
	<tbody>
		<% @cohort.each do |student| %>
		<tr>
			<td><%= student.first_name %></td>
			<td><%= student.last_name %></td>
			<td><%= student.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<p class="link"> <a href="/dojos">Home</a> | <a href="/dojos/<%= @student.dojo_id %>/students/<%= @student.id %>/edit">Edit</a> </p>