<h1><%= @dojo.branch %></h1>
<div class="showarea">
    <p>Addres: <%= @dojo.street %></p>
    <p>City: <%= @dojo.city %> State: <%= @dojo.state %></p>
</div>
<p class="link"> <a href="/dojos">Home</a> | <a href="/dojos/<%= @dojo.id %>/edit">Edit</a> </p>